# Importing the Data

In [1]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Olkae\\Downloads\\Total.csv\\Total.csv")

C:\Users\Olkae\AppData\Local\Temp\ipykernel_19328\190359001.py:2: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\\Users\\Olkae\\Downloads\\Total.csv\\Total.csv")

# Displaying the data info

In [4]:
df.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011

In [5]:
df.info

<bound method DataFrame.info of               EmployeeName                                        JobTitle  \
0           NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1             GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2           ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3        CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4          PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                    ...                                             ...
312877     Daniel W Plautz                          Public Service Trainee
312878    David J Thompson                                  Deputy Sheriff
312879  Keiko Weng Yee Lau                          Public Service Trainee
312880          David Wong                                  Deputy Sheriff
312881     Debora E Howard                               Recreation Leader

          BasePay OvertimePay   OtherPay      Benefits   TotalPay  \
0       167411.18         0.0  400184.25  Not Provided  567595.43
1       155966.02   245131.88  137811.38  Not Provided  538909.28
2       212739.13   106088.18    16452.6  Not Provided  335279.91
3         77916.0    56120.71   198306.9  Not Provided  332343.61
4        134401.6      9737.0  182234.59  Not Provided  326373.19
...           ...         ...        ...           ...        ...
312877        0.0         0.0        0.0           0.0       0.00
312878        0.0         0.0        0.0           0.0       0.00
312879        0.0         0.0        0.0           0.0       0.00
312880        0.0         0.0        0.0           0.0       0.00
312881        0.0         0.0        0.0           0.0       0.00

        TotalPayBenefits  Year
0              567595.43  2011
1              538909.28  2011
2              335279.91  2011
3              332343.61  2011
4              326373.19  2011
...                  ...   ...
312877              0.00  2018
312878              0.00  2018
312879              0.00  2018
312880              0.00  2018
312881              0.00  2018

[312882 rows x 9 columns]>

In [6]:
print(df.columns)

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

# Employee Function to Return Employee Details

In [7]:
def get_employee_details(name):
    try:
        employee = df[df['EmployeeName'].str.lower() == name.lower()]
        if employee.empty:
            raise ValueError(f"No employee found with name: {name}")
        return employee
    except Exception as e:
        return str(e)

## Example usage

In [8]:
print(get_employee_details("Kayode Oladele"))

No employee found with name: Kayode Oladele

In [9]:
print(get_employee_details("David Wong"))

       EmployeeName                    JobTitle   BasePay OvertimePay  \
10054    DAVID WONG              DEPUTY SHERIFF  86284.35     4007.05
14336    DAVID WONG              DEPUTY SHERIFF  75224.28       14.68
15835    DAVID WONG            TRANSIT OPERATOR  65564.82     8468.03
19625    DAVID WONG  SENIOR COLLECTIONS OFFICER  64318.41         0.0
24680    DAVID WONG                   CUSTODIAN   48472.4      832.65
24739    DAVID WONG              DEPUTY SHERIFF  40080.01     1614.81
30210    DAVID WONG                   CUSTODIAN  15169.75         0.0
30826    DAVID WONG                      VENDOR  12893.58         0.0
46801    David Wong              Deputy Sheriff   88374.0     2676.94
50288    David Wong              Deputy Sheriff   80368.0      453.36
53357    David Wong            Transit Operator  63877.15      5189.1
54991    David Wong  Senior Collections Officer   68358.1         0.0
59887    David Wong                   Custodian   51492.8     2381.85
66631    David Wong                   Custodian  19270.67         0.0
67905    David Wong         Admission Attendant  13724.88         0.0
117422   David Wong              Deputy Sheriff  94191.00    22503.68
156069   David Wong              Deputy Sheriff  97729.53    16673.11
198512   David Wong              Deputy Sheriff  97515.85        0.00
262612   David Wong              Deputy Sheriff   23614.0         0.0
312880   David Wong              Deputy Sheriff       0.0         0.0

       OtherPay      Benefits   TotalPay  TotalPayBenefits  Year
10054   6604.97  Not Provided   96896.37          96896.37  2011
14336   5130.15  Not Provided   80369.11          80369.11  2011
15835     763.7  Not Provided   74796.55          74796.55  2011
19625       0.0  Not Provided   64318.41          64318.41  2011
24680     777.0  Not Provided   50082.05          50082.05  2011
24739   8179.03  Not Provided   49873.85          49873.85  2011
30210    201.28  Not Provided   15371.03          15371.03  2011
30826       0.0  Not Provided   12893.58          12893.58  2011
46801   6364.33      36108.08   97415.27         133523.35  2012
50288   4242.95      32570.71   85064.31         117635.02  2012
53357    724.59      35678.09   69790.84         105468.93  2012
54991       0.0      31684.45   68358.10         100042.55  2012
59887    1239.0      26900.02   55113.65          82013.67  2012
66631    565.75       1891.16   19836.42          21727.58  2012
67905       0.0       1065.16   13724.88          14790.04  2012
117422  9122.56      35555.96  125817.24         161373.20  2014
156069  6812.71      39132.38  121215.35         160347.73  2015
198512  6800.98      41052.46  104316.83         145369.29  2016
262612  1416.84      10140.41   25030.84          35171.25  2017
312880      0.0           0.0       0.00              0.00  2018

# DataFrame to dictionary format

In [10]:
employee_dict = df.set_index('EmployeeName').T.to_dict()

C:\Users\Olkae\AppData\Local\Temp\ipykernel_19328\2148910536.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  employee_dict = df.set_index('EmployeeName').T.to_dict()

## Example: Access an employee's details

In [11]:
employee_dict.get("NATHANIEL FORD", "Employee not found")

{'JobTitle': 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
 'BasePay': 167411.18,
 'OvertimePay': 0.0,
 'OtherPay': 400184.25,
 'Benefits': 'Not Provided',
 'TotalPay': 567595.43,
 'TotalPayBenefits': 567595.43,
 'Year': 2011}

In [12]:
employee_dict.get("Kayode Oladele", "Employee not found")

'Employee not found'

# Exporting Employee Details to CSV & Zip Folder

In [15]:
import os
import zipfile

def export_employee_to_csv(name):
    try:
        employee = get_employee_details(name)
        if isinstance(employee, str):
            raise ValueError(employee)
        
        folder = "Employee Profile"
        filename = f"{folder}/{name.replace(' ', '_')}_profile.csv"
        
        # Creating folder
        os.makedirs(folder, exist_ok=True)
        
        # Saving file to CSV
        employee.to_csv(filename, index=False)
        
        # Zipping the folder
        with zipfile.ZipFile(f"{folder}.zip", 'w') as zipf:
            zipf.write(filename, arcname=os.path.basename(filename))
        
        print(f"Profile for {name} exported and zipped successfully.")
        
    except Exception as e:
        print(f"Error: {e}")

export_employee_to_csv("NATHANIEL FORD")

Profile for NATHANIEL FORD exported and zipped successfully.

# R Script to Unzip the Folder and Display the Data in R

In [ ]:
# Unzip the folder
unzip("C:\\Users\\Olkae\\Employee Profile.zip", exdir = "unzipped_profile")

# Read the CSV
data <- read.csv("unzipped_profile/NATHANIEL_FORD_profile.csv")

# Display the data
print(data)